@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 221.2 83.2% 53.3%;
  --radius: 0.5rem;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 224.3 76.3% 48%;
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

* {
  border-color: hsl(var(--border));
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  min-height: 100vh;
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
  --color-amalfitanAzure: #0b817f;
  --color-greyOfDarkness : #A2A2A2;
  --color-grey: #808080;
  --color-andreaBlue: #4283DE;
  --color-pictureBookGreen: #007D51;
  --color-lustyLavender: #895BBA;
  --color-aphrodisiac: #E25360;
  --color-peppermintToad: #009F35;
  --color-accentOrange: #E27100;
  --color-fortressGrey: #B8B8B8;
  --color-orochimaru: #D9D9D9;
  --color-lustyLavender : #895BBA;
  --color-lemonChrome : #F9AD01;
}

h1 {
  @apply font-medium tracking-tight text-black md:text-3xl sm:text-lg;
}

h2 {
  @apply font-medium tracking-tight text-black md:text-xl sm:text-base;
}

h3 {
  @apply font-medium tracking-tight text-black md:text-lg sm:text-sm;
}

p {
  @apply md:text-base sm:text-sm;
}

span {
  @apply text-xs;
}

.stock-btn {
  @apply text-xs font-medium h-9 ;
}

.item-price {
  @apply text-sm font-normal text-nowrap;
}

.layout-header {
  @apply flex flex-col items-start;
}

.rdp-root {
  --rdp-range_start-date-background-color: #0b817f !important;
  --rdp-range_end-date-background-color: #0b817f !important;
  --rdp-accent-color: #0b817f !important;
  --rdp-accent-background-color: #0b817f1A !important;
}

.rdp-range_start .rdp-day_button {
  background-color: var(--rdp-range_start-date-background-color) !important;
}

.rdp-range_end .rdp-day_button {
  background-color: var(--rdp-range_end-date-background-color) !important;
}

.recharts-legend-wrapper {
  top: 50% !important;
  transform: translateY(-50%) !important;
  right: 0 !important;
  width: 45% !important;
  max-height: 100% !important;
  overflow-y: auto !important;
}

.recharts-default-legend {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 8px !important;
    padding: 10px !important;
}

.recharts-legend-item {
    min-width: 120px !important;
}

.recharts-wrapper {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
}

.recharts-surface {
    overflow: visible !important;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}